@page "/BookEditor/{Id}"
<style>
    .headBox{
        text-align: center;
    }
    .container {
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px;
    }

    .box {
      flex: 1 1 45%; /* Чтобы блоки были примерно равной ширины и занимали 45% ширины родительского контейнера */
      background-color: #ccc;
      margin-bottom: 20px;
      padding: 10px;
    }

    .full-width-box {
      flex: 1 1 100%; /* Чтобы этот блок занимал 100% ширины родительского контейнера */
      background-color: #ddd;
      padding: 20px;
    }

    /* The switch - the box around the slider */
    .switch {
        text-align:center;
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    .checkSlider{
        margin: 3px;
        text-align:center;
        display: flex;
        align-items: center; /* Центрирование по вертикали */
        justify-content: center; /* Равномерное распределение по горизонтали */
    }
</style>

<div class="mainBox">
    <div class="headBox">
        <div class="checkSlider">
            <span>неопубл.</span>
            <label class="switch">
               <input type="checkbox" @onchange="SwitchAction">
              <span class="slider round"></span>
            </label>
            <span>опубл.</span>
            <br>
        </div>
        <div>
            <button class="btn btn-primary" style="margin: 3px;">Сохранить</button>
        </div>
    </div>
    <div class="box">

    </div>
    <div class="box">

    </div>
</div>
@code {
    [Parameter]
    public string Id { get; set; }

    bool isPublic = false;

    void SwitchAction()
    {
        isPublic = !isPublic;
    }
}
