@page "/profile"

@using OpenBook.Shared.Dtos;
@using OpenBook.Shared.OutputData;
@using System.Net.Http.Headers;
@using OpenBook.Shared.SupportData;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navigation
@inject HttpClient client

<style>
    .mainContainer{
        display: flex;
        flex-direction: column;
        background: #104C64;
        border-radius: 25px;
        padding: 5%;
    }
    .columnContainer{
        text-align: center;
        background: #c7e8ff;
        border-radius: 5%;
        padding: 5%;
    }
    .rowContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5%;
    }
    .innerDiv{
        background: #d6eef8;
        width: 100%;
        border-radius: 25px;
        padding: 5%;
        border: 1px solid #0a2f3e 
    }
</style>

@if (user == null)
{
            <span>Загрузка...</span>
}
else
{
    <div class="mainContainer">
        <h3 style="text-align: center">Личный кабинет</h3>
        <div class="innerDiv">
            @if (!editMode)
            {
                <p style="font-weight: 300; font-size: x-large">@user.Value.Name</p>
                <br>
                <button @onclick="EditChange" class="btn btn-secondary">Изменить</button>
                <br>
            }
            else
            {
                <p style="font-weight: 300; font-size: x-large">@user.Value.Name</p>
                <button @onclick="EditChange" class="btn btn-secondary">Сохранить</button>
                <br>
            }
        </div>
        <div class="innerDiv">
            <p>Почта: @user.Value.Email</p>
        </div>
        <div class="innerDiv">
            <span>Роль:</span>
            <p>@user.Value.Role.Name</p>
        </div>
        <div class="innerDiv">
            @if (user.Value.IsVerified)
            {
                <span style="color: green;">Ваш аккаунт верифицирован</span>
            }
            else
            {
                <span style="color: red;">Ваш аккаунт не верифицирован!</span>
                <br>
                <button class="btn btn-success">Пройти верификацию</button>
            }
        </div>
        <div class="innerDiv">
            <button class="btn btn-secondary" @onclick="GoToPasswordChanger">Сменить пароль</button>
        </div>
        <div class="innerDiv">
            <hr />
            <button class="btn btn-primary" @onclick="(() => GoToEditBooks(0))">Мои книги</button>
        </div>
        @if (user.Value.Role.Name == "Admin" || user.Value.Role.Name == "SuperAdmin")
        {
            <div class="innerDiv">
                <hr />
                <button class="btn btn-secondary" @onclick="GoToAdminPanel">Админ панель</button>
            </div>            
        }
    </div>
}

@code {
    bool? isAuth = null;
    AuthView authView = new AuthView();
    AuthInfo authInfo = new AuthInfo();
    Response? response;

    Response<UserDto>? user;

    bool editMode = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var cookieContent = await localStorage.GetItemAsync<AuthInfo>(AuthInfo.CookieName);
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", cookieContent.Key);
            if (cookieContent != null && await CheckAuth())
            {
                isAuth = true;
            }
        }
        catch (Exception ex)
        {
            isAuth = false;
            navigation.NavigateTo("SignIn");
        }
    }
    async Task<bool> CheckAuth()
    {
        user = await client.GetFromJsonAsync<Response<UserDto>>("https://localhost:7190/api/Auth/GetUserInfo");
        return user.IsSuccess;
    }
    async Task EditChange()
    {
        if (editMode)
        {
            using HttpResponseMessage TestResponse = await client.PostAsJsonAsync("https://localhost:7190/api/User/UpdateWithEntity", user);
            editMode = false;
        }
        else
        {
            editMode = true;
        }
    }
    void GoToAdminPanel()
    {
        navigation.NavigateTo("adminpanel");
    }
    void GoToEditBooks(int id)
    {
        navigation.NavigateTo($"mybooks");
    }
    void GoToPasswordChanger()
    {
        navigation.NavigateTo($"passwordChange");
    }
}